.allBlogs{
    width: 100%;
    height: 100%;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    
}

.allBlogs h1{
    color:  rgb(81, 53, 53);
    text-align: center;
}
.blogsList{
    padding: 1em;
    width: 100%;
    /* column-count: 2; */
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;

}
.blog{
    /* margin: 1em; */
    width: clamp(300px, 30vw, 500px);
    /* min-width: min(250px, 350px); */
    background-color: rgb(251, 253, 255);
    border-radius: 10px;
    padding-bottom:.5em;
    box-shadow: -2px 3px 5px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: clamp(1em, 1.5vw, 1.3em);
    position: relative;
    color: rgb(0, 39, 87);
}
.blog::after{
    position: absolute;
    content: "";
    width: 15%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, transparent, rgba(169, 184, 194, 0.1)10%, transparent  );
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.blog_info{
    padding: .5em 1em 0;

}
.blog_info p{
        display: -webkit-box;            
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;    
        overflow: hidden;                
        text-overflow: ellipsis;         
        max-width: 200px;   
        font-size: clamp(.9em, 1.3vw, 1.1em);             
}
.blogImg{
    width: 100px;
    height: auto;  
    display: flex;
    justify-items: center;
    margin: 0 auto;
}
.blog_info img{
    object-fit: cover;
    padding-top: .5em;
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}
.interactions{
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: 1em;
    width: 50%;
    align-self: flex-end;
}
.interactions div{
    display: flex;
    gap:.1em;
    align-items: center;
    color: rgb(169, 162, 184);
}

.interactions svg{
    height: .9em;
    width: auto;

}
.full{
    /* align-self: flex-end; */
    /* margin-right: 1em; */
    padding: .5em;
    background-color:   rgb(255, 219, 129);
    border-radius: 10px;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 2;
    gap: .2em
}
.full svg{
    height: auto;
    width: 1em;
}
.full:hover{
    background-color:  rgb(255, 225, 156);
    scale: 1.03;
}
.header{
    width: 100%;
    background-color:   rgb(255, 219, 129);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em .5em;

}
.username{
    display: flex;
    align-items: center;
    gap: .3em;

}
.username img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.user_nick{
    font-size: 16px;
}
.blog_date{
    font-weight: 600;
    font-size: 16px;
}
.header h2{
    font-size: clamp(1.05em, 1.3vw, 1.3em);
    text-transform: uppercase;
}
.likes{
    font-weight: 500;
    padding:.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.blog:hover{
    /* border-left: 4px solid rgb(0, 13, 111); */
}
.nav{
    top: var(--header);
    /* background-color:rgb(255, 217, 128);   */
    background-color: rgb(255, 212, 111, .1);  ;
    backdrop-filter: blur(10px);
    height: calc(100dvh - var(--header));
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, .3);
    color: rgb(80, 54, 36);
    font-weight: 500;

}
.nav a{
    width: 100%;
    padding: .6em;
    box-shadow: -3px 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: clamp(1em, 1.5vw, 1.5em);
    transition: all .3s ease;
}
.createPage{
    --bg-color: rgb(255, 244, 224);
    height: 100%;
    background-color:var(--bg-color);
    border: 4px dashed rgb(255, 226, 130);
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
    padding: 3em;
    border-radius: 20px;
    font-size: clamp(1em, 1.5vw, 1.3em);
    gap: .6em;
    position: relative;
}
.createPage h1{
    color: rgb(100, 78, 63);
    font-size: clamp(1.1em, 1.5vw, 2em);
}
.burger{
    position: absolute;
    height: clamp(50px, 20vw,100px);
    aspect-ratio: 1;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50px);
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 1em;

  }
  .burger img{
    filter: drop-shadow(0 10px 10px rgba(235, 159, 17, 0.5));
  }
  .burger_border{
        position: absolute;
        left: 50%;
        top: 0;
        width: clamp(55px, 20vw,110px);
        height: clamp(22.5px, 20vw, 55px);  
        transform: translate(-50%, -55px);
        border-radius: clamp(22.5px, 20vw, 55px) clamp(22.5px, 20vw, 55px) 0 0; 
        border: 4px dashed transparent;
        border-top-color: rgb(255, 226, 130) ;
        border-left-color: rgb(255, 226, 130) ;
        border-right-color: rgb(255, 226, 130) ;
        /* border-bottom-color: rgb(255, 226, 130) ; */
        background-color: transparent;

  }
.createPage label{
    font-weight: 500;
    color: rgb(81, 70, 56);
}

.form{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: .5em;
}
.img_loaded{
    position: relative;
    z-index: 5;
    opacity: 100%;
    filter: grayscale(0);
    border-radius: 10px;
    background-color: rgb(255, 239, 185);
    border: 2px dashed rgb(221, 188, 147);
}
.img_loaded img{
    object-fit: contain;
    transition: all .3s ease;
 
}
.remove_img{
  font-size: 1em;
  font-weight: 700;
  width: 1em;
  height: 1em;
  padding: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 222, 144);
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 10;
  background-color: rgb(120, 115, 109);
  border-radius: 100%;
  cursor: pointer;
  transition: all .2s ease;
}
.remove_img svg{
    width: 100%;
    aspect-ratio: 1;
    stroke: 2;
}
.remove_img:hover{
    background-color: rgb(177, 165, 147);  
}
.circle{
    width: 1.3em;
    height: 1.3em;
    position: absolute;

    z-index: 10;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.form textarea {
    resize: none;
    padding: 10px;
    /* max-width: clamp(300px, 30vw, 600px); */
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #e1e1e1;
    display:block;
    min-width: 300px;
    height: 100%;
    width: 100%;
    font-size: clamp(1em, 1.5vw, 1.3em);
    border: 3px solid rgb(255, 221, 109);
  }

.createPage input{
    font-size: clamp(1em, 1.2vw, 1.2em);
    display: block;
    border-radius: 10px;
    border: none;
    min-height: 2em;
    min-width: 100%;

}
.createPage select{
    display: block;
    border-radius: 10px;
    background-color:  rgb(255, 236, 185);
    font-size: clamp(1em, 1.2vw, 1.2em);
    border: 3px solid rgb(255, 221, 109);
    color: rgb(81, 70, 56);
    min-height: 2em;
    
}
.createPage select option{
    font-weight: 500;
    color: rgb(81, 70, 56);
}
.createPage input[type="text"]{
    border: 3px solid rgb(255, 221, 109);
}
.createPage input[type="file"] {
    display: none;
    position: absolute;
    top:0;
    left: 0;
}

.file{
    min-height: 4em;
    padding: 1em;
    width: 100%;
    background-color: rgb(255, 236, 185);
    cursor: pointer;
    border: 2px dashed rgb(221, 188, 147);
    border-radius: 10px;
    font-weight: 400;
    color: rgb(221, 188, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    flex-direction: column;
    position: relative;

}
.file svg{
    width: 1.2em;
    height: 1.2em;
  
}
.create_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
}
.createPage button{
    min-height: 2em;
    padding: .5em;
    font-size: clamp(1em, 1.2vw, 1.2em);
    background-color: rgb(238, 188, 114);  
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .2s ease;
    color: rgb(81, 70, 56);
    
}
.createPage button:hover{
    background-color: rgb(243, 204, 136);

}
.nav a:hover{
    background-color:  rgb(255, 217, 128); 
}
.single_blog_section{
    width: 100%;
    min-height: 100dvh;
    font-size: clamp(1em, 1.2vw, 1.2em);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.single_blog{
    width: 100%;
    height: 100%;
    font-size: clamp(1em, 2vw, 1.2em);
    padding: 0 2em;
    display: flex;
    flex-direction: column;
}
.tags{
    display: flex;
    gap: .4em
}
.tag{
    background-color: rgb(255, 220, 176);
    border-radius: 10px;
    padding: .3em .5em;
}
.progress{
    width: 300px;
}
.progress_bar{
    width: 100%;
    height: 1em;
    background-color: rgb(251, 234, 181);
    border-radius: 10px;
    overflow: hidden;
}
.progress_running{
    transition: all .3s ease;
    height: 1em;
    background-color: rgb(253, 218, 115);
}
.blog_comments{
    background-color: rgb(252, 232, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    height: 100%;

}
.liked{
    color: rgb(182, 23, 57)!important;
}
.comments{
    max-height: 60dvh;
    overflow: auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .7em;
}
.comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: .4em;
    border-radius: 10px;
    
}
.comment_image{
 
    display: flex;
    align-items: flex-start;
    gap: .2em;
}
.comment_noimage{
    width: 100%;
}
.comment_image img{
    border-radius: 100%;
    
}
.comment_header{
    display: flex;
    width: 100%;
    font-size: clamp(.9em, 1.1vw, 1em);
    justify-content: space-between;
}
.comment_content{
    padding: .3em;
    font-weight: 600;
}
.add_comment{
    width: 90%;
    height: 15dvh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.add_comment textarea{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: clamp(1em, 1.5vw, 1.3em);
    resize: none;
   padding: .2em;
   outline: hidden;
   border: hidden;
   padding-right: calc(4em + 1em);
}
.add_comment button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 4em - 1em);
    width: 4em;
    height: 4em;
    aspect-ratio: 1;  
    background-color: rgb(245, 239, 220);
    border-radius: 100%;
    padding: 1em;
    border: hidden;
    cursor: pointer;
}
.add_comment button:hover{
    background-color: rgb(250, 239, 205);   
}
.add_comment button svg{
    width: 100%;
    height: 100%;
    color: rgb(209, 162, 105);
}
.single_blog div{

}
.single_blog img{
    object-fit: contain;
    width: clamp(300px, 20vw, 400px);
    height: auto;
    object-fit: cover;
}
.single_blog button{
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    outline: hidden;
    cursor: pointer;
}
.single_blog button svg{
    width: 1.3em;
    height: 1.3em;
}
.addBlog{
    width: 5em;
    aspect-ratio: 1;
    z-index: 25;
    color: rgb(81, 70, 56);
    background-color: rgba(223, 174, 101, .9); 
    border-radius: 100%;
    position: fixed;
    right: 1%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:  background-color .3s ease;
}
.addBlog:hover{
    background-color: rgb(238, 188, 114);  
}
.addBlog svg{
    width: 40%;
    height: 40%;
    color: white;
}
.btns{
    display: flex;
    gap: 2em;
    
}
.btns button{
    all: unset;
    background-color: rgb(255, 224, 145);
    color:  rgb(107, 76, 57);
    font-weight: 500;
    padding: .8em;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: .2em;
    cursor: pointer;
    transition: all .3s ease;
}
.btns button:hover{
    background-color: rgb(255, 230, 168); 
}

.btns svg{
    width:  1.2em;
    height: 1.2em;
}

.hamburger{
    width: 2em;
    aspect-ratio: 1;
    background-color: hsl(36, 100%, 74%);
    border-radius: 50%;
    padding: .2em;
    position: absolute;
    z-index: 50;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    visibility: hidden;
}
.hamburger svg{
    width: 90%;
   height: 90%;
   color: white;
   aspect-ratio: 2/1;
}
.noBlogs{
    display: flex;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;

}

.search{
    width: 90%;
    align-self: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-top: 1em;
    height: 2em;
    align-items: center;
    border:  2px solid rgb(207, 170, 115);
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}
.search_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    
    border-radius:10px;
}
.search_input:focus{
    outline: hidden; 
}

.search:focus-within{
    /* outline: rgb(36, 22, 1); */
    border:  2px solid rgb(36, 22, 1);
}
.search:focus-within .filtered{
   display: flex;
}
.search_icon{
    width: 2em;
    height: 2em;
    padding: .3em;
}
.search_icon svg{
    width: 100%;
    height: 100%;
}
.filtered{
    position: absolute;
    display: none;
    padding: .3em;
    top: 110%;
    border-radius: 10px;
    z-index: 100;
    background-color: rgb(255, 219, 165);
    width: 100%;
    height: fit-content;
    max-height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1em;
    left: 0;
}
.cat{
    all:unset !important;   
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: .2em !important;
    transition: all .3 ease !important;
    
}
.no{
    width: 100%;
    padding: .2em;
}
.cat:hover{
    background-color: antiquewhite !important;
}
.cat::after{
    content: "";
    width: .4em;
    height: .4em;
    border-top: 2px solid rgb(47, 22, 0);
    border-left: 2px solid rgb(47, 22, 0);
    transform: rotate(-45deg);
    position: absolute;
    left: calc(90%);
    margin-top: 5px;
    opacity: 0;
    transition: all .3 ease;

}
.cat:hover::after{
    opacity: 100%;
}
@media screen and (max-width: 768px) {

  .hamburger{
      visibility: visible;
  }

  
  }