:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-margin: 10rem;
  --header:  3rem;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
body{
  display: grid;
  grid-template-rows: auto, 1fr, auto;
}
.main_container{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main{
  padding-top: var(--header);

  /* height: 100%; */
  width: 100%;
}
.blogPageContainer{
  width: calc(100% - var(--nav-margin));
  margin-left:  var(--nav-margin);
  min-height: calc(100dvh - var(--header));
  height: 100%;
  /* padding-top: var(--header); */
}

.blogs_page{
  width: 100%;
  height: 100%;

}
.create_blog{
  width: 100%;
  min-height: calc(100dvh - var(--header));
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs_nav{
  width: var(--nav-margin);
}

.blog_section{
  width: 100%;
  height: 100%;

}
.home_page{
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f5d993;
}
.blog_page{
  height: 100%;
}


@media screen and (max-width: 768px) {

  .blogPageContainer{
    width: 100%;
    margin-left:  0;
  }
  .blogs_nav{
    width: 40px;
    position: fixed;
    z-index: 3;
    transition: all .3s ease;
}
.blogs_nav a{
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.hamburger{
    visibility: visible;
    cursor: pointer;
}
.active{
    width: fit-content !important;
    position: fixed;
}
 .search{

  visibility: hidden;
}
.active .search{
  margin-top: 3.5em;
  visibility: visible !important;
}
.active a{
    visibility: visible !important;
    opacity: 100% !important;
}
/* .blogs_nav a:first-child{
  margin-top: 2.6em;
} */
.blog_section{
  padding-left: 40px;
}
}

